# Application Environment
ENV=development
PORT=8080

# RSA Keys (file paths)
PRIVATE_KEY_PATH=private-key.pem
PUBLIC_KEY_PATH=public-key.pem

# Database Configuration
DB_PATH=./data/auth-session.db
DB_MAX_CONN=10
DB_MAX_IDLE=5
